<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>KanBan</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <div class="container">
    <h3>Welcome to KanBan</h3>
    <!-- Add a list -->
    <form action="/list/<%=boardId%>" method="post" accept-charset="utf-8" class='listForm'>
      <input type="text" size="10" name="list" placeholder="Add a list..">
      <input type="submit" value="Add">
    </form>
    <!-- End of list addition -->
    <%if (Object.keys(list).length > 0) {%><p>Your cards are: </p> <%}%>
    
    <!-- Lists with cards holders -->
    <%for (var key in list) { %>
      <%if (list.hasOwnProperty(key)) { %>
      <div id="list_id_<%=list[key]._id%>" class='list'>

      <!-- Add a card -->
      <form class="new-card-form" accept-charset="utf-8">
        <%=list[key].name%><br>
        <input type="hidden" name="listId" value=<%=list[key]._id%>>
        <input type="text" size="10" name="card" placeholder="Add a card..">
        <input type="submit" value="Add">
      </form>
      <!-- End of card addition -->
      
      <!-- List cards -->
      <div class='cards-list'>
        <%if (list[key].cards) {%>
          
          <%list[key].cards.forEach(function(card){ %>
            <div class="cards" id="card_id_<%=card._id%>">
              <p><%=card.content%></p>
            </div>
          <%});%>        
        <%}%>
      </div>
      <!-- end of cards listing -->

      </div>
      <%}%>
    <%}%>

    <!-- End of lists with cards -->

  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="../cardMaker.js" type="text/javascript"></script>
</body>
</html>